/* public/css/app.css */

/* ナビゲーションバーのスタイル */
.navbar {
    margin-bottom: 20px;
}

/* ナビゲーションバーのロゴスタイル */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

/* ナビゲーションバーのリンクスタイル */
.navbar-nav .nav-link {
    margin-right: 10px;
}

/* メインコンテンツのスタイル */
.container {
    padding-top: 20px;
}

/* ログアウトボタンを右側に寄せるスタイル */
.dropdown-menu-right {
    right: 0;
    left: auto;
}

/* テーブルのスタイル */
.table {
    margin-top: 20px;
}

/* フォームのスタイル */
.form-inline .form-group {
    margin-right: 10px;
}

/* 画像の最大幅 */
img {
    max-width: 100%;
}

/* 検索フォームのスタイル */
.mb-3.form-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* 検索ボタンのスタイル */
.mb-3.form-inline button {
    margin-left: 10px;
    color: blue;
}

/* 詳細・削除ボタンのスタイル */
.btn-inline {
    display: inline-block;
    margin-right: 10px;
    color: blue;
}

/* 新規登録ボタンのスタイル */
.btn-primary {
    margin-bottom: 15px;
    margin-top: 10px;
}

/* ボタン全体のスタイル */
.btn-info {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    margin: bottom 30px;
}

.btn-info:hover {
    background-color: #138496;
}

/* ボタン内アイコンのスタイル */
.btn-info i {
    margin-right: 5px;
}

/* ボタン内テキストのスタイル */
.btn-info span {
    font-size: 14px;
}
